body{
    background-image: url('diabetes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
    padding:30px;
  }
  
  form{
    padding:30px 30px 30px 30px;
    background-color:#F4F9F9;
    border-radius:50px;
  }
  
    
    
  .f-header{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  